* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 200ms;
}
h1, p, a {
    font-family: "Poppins", Arial, sans-serif;
}
.section-content {
    max-width: 1300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
}
.full-page-section {
    height: fit-content;
    min-height: 100vh;
    background: linear-gradient(135deg, #dbedff, #d1efd1, #ffffdb, #fff4f4);
}
.half-page-section {
    min-height: 50vh;
}
.half-section {
    background: linear-gradient(128deg, #d5ffd7, #ffffdb 30%, #fff4f4 50%);
}
.three-quart-section {
    min-height: 75vh;
    background: linear-gradient(135deg, #dbedff, #d1efd1, #ffffdb, #fff4f4);
}
.opposite-section {
    background: linear-gradient(135deg, #000c18, #000e00, #0c0c00, #120000);
    color: white;
}
.title-area {
    position: absolute;
    width: max-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.main-title h1 {
    font-size: 4em;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 600;
}
.main-title p {
    font-size: 2.5em;
    font-family: "Ropa Sans", Arial, sans-serif;
}
.title-divided .main-title-segment {
    display: inline-block;
    margin: 0 10px;
}
.title-divided h1 {
    font-size: 3.5em;
}
.title-divided p {
    font-size: 2em;
}


.section-title {
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    padding: 50px 0;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 600;
}
.item-row-container {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.item-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
}
.item-row-item {
    height: fit-content;
}
.item-row-item img {
    width: 100px;
}
#partners .item-row-item img {
    width: 125px;
}
.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.project {
    width: 400px;
    height: 250px;
    margin: 50px;
    text-decoration: none;
    background-color: transparent;
}
.project:hover {
    transform: scale(1.02);
    box-shadow: 0px 20px 20px -5px black
}
.project-link {
    border-radius: 10px 10px 0 0;
    font-weight: bolder;
    text-decoration: none;
    display: block;
    padding: 15px 0;
    padding-left: 20px;
}
.project-image {
    object-fit: cover;
    height: 222px;
    width: 100%;
    border-radius: 0 0 10px 10px;
}




.about-card {
    width: 90%;
    min-height: 200px;
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ac-pic-area {
    min-width: 200px;
    width: 30%;
}
.ac-pic {
    width: 200px;
    height: 200px;
    background-color: green;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.ac-desc-area {
    padding: 40px;
    width: 70%;
}
.ac-title {
    margin-bottom: 20px;
    font-size: 1.2em;
    font-family: "Prompt", "Poppins", Arial, sans-serif;
}
.ac-desc {
    font-family: "Inter", Arial, sans-serif;
}

.contact-details-container {
    width: 90%;
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.contact-details {
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    margin: 50px 0;
}
.cd-double {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}
.contact-details a {
    text-decoration: none;
    width: max-content;
    font-weight: bolder;
    color: black;
}
.contact-details a img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    margin-right: 5px;
}
.contact-details div:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
    .title-area {
        width: 100%;
    }
    .main-title h1 {
        font-size: 3.5em;
    }
    .title-divided h1 {
        font-size: 3em;
    }
    .item-row-container {
        width: 100%;
    }
    .project-grid {
        width: min-content;
        grid-template-columns: 1fr;
    }
    .project {
        margin: 20px;
    }
    .about-card {
        width: 100%;
    }
    .contact-details-container {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .section-content {
        padding: 10px;
    }
    .main-title {
        margin: 20px 0;
    }
    .main-title h1 {
        font-size: 2.5em;
    }
    .title-divided h1 {
        font-size: 2em;
    }
    .title-divided p {
        font-size: 1.3em;
    }
    .title-divided .main-title-segment {
        margin: 20px 0;
    }
    .section-title {
        font-size: 1.1em;
        padding: 30px 0;
    }
    .item-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
        width: fit-content;
    }
    .item-row-item {
        margin: 10px;
    }
    .item-row-item img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .project-grid {
        width: 100%;
    }
    .project {
        margin: 40px 0;
        width: 90%;
        position: relative;
        left: 5%;
    }
    .project:hover {
        box-shadow: none;
        transform: none;
    }
    .about-card {
        flex-direction: column;
    }
    .ac-pic-area {
        width: 50%;
    }
    .ac-pic {
        width: 100%;
        border-radius: 10px;
        height: auto;
    }
    .ac-desc-area {
        width: 100%;
        padding: 20px 10px;
    }
    .contact-details {
        width: 100%;
        text-align: center;
        font-size: 0.8em;
    }
    .cd-double {
        justify-content: space-around;
    }
    #partners .item-row-item img {
        width: 100px;
    }
}
@media screen and (max-width: 375px) {
    .section-title {
        text-align: center;
    }
    .item-row {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .contact-details {
        font-size: 0.8em;
        margin: 0;
        text-align: left;
    }
    .cd-double {
        flex-direction: column;
    }
    .contact-details div {
        margin: 5px 0;
    }
}
@media screen and (max-width: 320px) {
    .main-title, .main-title-segment {
        margin: 10px 0;
    }
    .main-title h1 {
        font-size: 1.8em;
    }
    .title-divided h1 {
        font-size: 1.5em;
    }
    .title-divided p {
        font-size: 1em;
    }
    .item-row-item img {
        width: 75px;
    }
    .project {
        height: fit-content;
        margin: 20px 0;
    }
    .project-link {
        font-size: 0.8em;
        padding: 10px 0;
        padding-left: 10px;
    }
    .project-image {
        height: 150px;
    }
}